@font-face{
  font-family: myFont;
  src: url("../fonts/Lato-ThinItalic.ttf");
}

body{
  background-color: white;
  color: black;
}
.container{
  position: relative;
  height: 600px;
}
#div1{
  height: 700px;
  max-width: 600px;
}

div h1{
  position: absolute;
  top: 200px;
  left: 100px;
}
#div1 p{
  position: absolute;
  overflow-wrap: break-word;
  left: 100px;
  font-family: myFont;
}

#toilet1{
  position: absolute;
  width: 700px;
  top: 80px;
  left: 650px;
}
#namedate{
  top: 300px;

}
#material{
  top: 340px;
}


#toilet2{
  position: absolute;
  width: 500px;
  top: 60px;
  left: 100px;
}
div h2{
  position: absolute;
  top: 20px;
  right: 500px;
}
#subtitle1{
  font-family: myFont;
  position: absolute;
  overflow-wrap: break-word;
  top: 90px;
  left: 800px;
  margin-right: 40px;
}

#description1{
  position: absolute;
  overflow-wrap: break-word;
  top: 180px;
  left: 800px;
  margin-right: 40px;
}

#toilet3{
  position: absolute;
  width: 700px;
  top: 90px;
  left: 600px;
}
#div3 h2{
  left: 50px;

}

#subtitle2{
  font-family: myFont;
  position: absolute;
  overflow-wrap: break-word;
  top: 90px;
  left: 80px;
  margin-right: 40px;
}
#description2{
  position: absolute;
  max-width: 450px;
  overflow-wrap: break-word;
  top: 120px;
  left: 80px;
  margin-right: 40px;
}
#div3 a{
  color: black;
  position: absolute;
  bottom: 40px;
  right: 40px;
}
#bio{
  font-family: myFont;
  font-size: 15px;
}
